[run]
branch = True
source = pandaflow
omit =
    */tests/*
    */venv/*
    setup.py

[report]
show_missing = True
skip_covered = True
fail_under = 90

[html]
directory = htmlcov
title = CSV Preprocessor Coverage
